[submodule "test-site-first"]
	path = test-site-first
	url = https://github.com/ny-sa/test-site-first
[submodule "test-site-second"]
	path = test-site-second
	url = https://github.com/ny-sa/test-site-second
[submodule "test-site-third"]
	path = test-site-third
	url = https://github.com/ny-sa/test-site-third
[submodule "test-site-fourth"]
	path = test-site-fourth
	url = https://github.com/ny-sa/test-site-fourth
[submodule "test-site-fifth"]
	path = test-site-fifth
	url = https://github.com/ny-sa/test-site-fifth
[submodule "test-site-sixth"]
	path = test-site-sixth
	url = https://github.com/ny-sa/test-site-sixth
[submodule "test-app-third"]
	path = test-app-third
	url = https://github.com/ny-sa/test-app-third
[submodule "test-app-second"]
	path = test-app-second
	url = https://github.com/ny-sa/test-app-second
[submodule "test-app-first"]
	path = test-app-first
	url = https://github.com/ny-sa/test-app-first
[submodule "test-app-fourth"]
	path = test-app-fourth
	url = https://github.com/ny-sa/test-app-fourth
[submodule "test-app-fifth"]
	path = test-app-fifth
	url = https://github.com/ny-sa/test-app-fifth
[submodule "test-api"]
	path = test-api
	url = https://github.com/ny-sa/test-api
